/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/* .showdata-allprod-main-div{
    background: rgb(157,87,228);
    background: linear-gradient(45deg, rgba(157,87,228,0.9444152661064426) 1%, rgba(236,146,205,1) 25%, rgba(214,86,242,0.9612219887955182) 51%, rgba(158,2,175,0.6615021008403361) 72%, rgba(232,65,175,1) 95%);
} */

.showdata_allprod_title{
    font-size: 280%;
    padding: 2% 0% 0.5% 0%;
    /* padding-bottom: 0.5%; */
    margin: 0% 28% 0% 28% ;
    text-align: center;
    color: black;
    border-bottom: 2px solid black;
    transition: all 0.3s ease;
    /* font-style: italic; */
}

.product_add_allprod{
    margin: 2% ;
    padding: 1% 2%;
}

.showdata_allprod_title:hover{
    text-shadow: rgb(224, 15, 243) -1px 0 8px;
}