
.forgotpasswordform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #181717;
    border-radius: 4px;
    background: 
            linear-gradient(180deg, #d773d7 100%, #48abe0 100%);
            /* box-shadow: rgba(43, 114, 172, 0.4) 5px 5px, rgba(46, 166, 240, 0.3) 10px 10px, rgba(171, 31, 120, 0.2) 15px 15px, rgba(205, 25, 139, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  }
  
  
 .forgotpasswordform input {
    display: block;
    width: 100%;
    /* color: black; */
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    color: #181717;
  }
  
 .forgotpasswordform button {
  padding: 10px;
  margin-top: 30px;
  padding-left:80px;
  padding-right: 70px;
  text-align: center;
  /* margin-left: -250px; */
  background:linear-gradient(to right, rgb(34, 4, 112), rgb(163, 11, 168))
  transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer; 
  }
  
  .forgotpasswordform button:hover {
    background-color: #45a049;
  }
  .forgot{
    background-color: rgb(242, 176, 187);
    /* position: absolute; */
    left: 40%;
    margin-top: 7%;
  }
  .logo{
    display: flex;
    justify-content: center;
  }